{
  "openapi": "3.0.1",
  "info": {
    "title": "Monetary Policy Data",
    "description": "<p>This API is used for fetching the forecasts and outcomes used in the Monetary Policy report.</p><h3>Reservation</h3><span>The Riksbank disclaims liability for any errors or changes in values afterwards and for any interruptions in the functioning of the website and the API:s that may affect access to the statistics.</span><br><span>The Riksbank reserves the right to make updates/changes to the website and the API:s that may affect the downloading of statistics.</span>",
    "version": "v1"
  },
  "servers": [
    {
      "url": "https://api.riksbank.se/monetary_policy_data/v1"
    }
  ],
  "paths": {
    "/forecasts/policy_rounds": {
      "get": {
        "summary": "Policy Rounds",
        "description": "Get all available policy round names.",
        "operationId": "get-policy-rounds",
        "responses": {
          "200": {
            "description": "Successful response listing policy round names.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    "2023:4",
                    "2023:3"
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/forecasts/series_ids": {
      "get": {
        "summary": "Series IDs",
        "description": "Get all available time series IDs. The series-id is made up of COUNTRY-FREQUENCY-AREA-DECOMPOSITION-UNIT-ADJUSTED (e.g. SEQGDPNAASA).",
        "operationId": "get-series-ids",
        "responses": {
          "200": {
            "description": "Successful response listing series IDs.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "series_id": { "type": "string" },
                          "metadata": {
                            "type": "object",
                            "properties": {
                              "decimals": { "type": "integer" },
                              "start_date": { "type": "string", "format": "date" },
                              "description": { "type": "string" },
                              "source_agency": { "type": "string" },
                              "unit": { "type": "string" },
                              "note": { "type": "string" }
                            }
                          }
                        }
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "series_id": "SEQGDPNAASA",
                      "metadata": {
                        "decimals": 2,
                        "start_date": "2020-01-01",
                        "description": "Gross Domestic Product (year-over-year change)",
                        "source_agency": "Sveriges Riksbank",
                        "unit": "%",
                        "note": "Seasonally adjusted"
                      }
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/forecasts": {
      "get": {
        "summary": "Monetary Policy Data",
        "description": "Get all timeseries, or filter on series and/or policy round name.",
        "operationId": "getMonetaryPolicyData",
        "parameters": [
          {
            "name": "policy_round_name",
            "in": "query",
            "description": "For example, 2024:1, 2023:5, 2023:4 etc.",
            "schema": { "type": "string" }
          },
          {
            "name": "series",
            "in": "query",
            "schema": { "type": "string" }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response with forecast data.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ForecastSeries"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "external_id": "example_series_1",
                      "vintages": [
                        {
                          "metadata": {
                            "revision_dtm": "2023-01-01T12:34:56Z",
                            "forecast_cutoff_date": "2023-01-31",
                            "policy_round": "2023:4",
                            "policy_round_code": "R1",
                            "policy_round_end_dtm": "2023-07-01T00:00:00Z"
                          },
                          "observations": [
                            { "dt": "2023-01-01", "value": 0.25 },
                            { "dt": "2023-01-02", "value": 0.26 }
                          ]
                        }
                      ]
                    }
                  ]
                }
              }
            }
          },
          "404": {
            "description": "Not found"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "ForecastSeries": {
        "type": "object",
        "properties": {
          "external_id": { "type": "string" },
          "vintages": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "metadata": {
                  "type": "object",
                  "properties": {
                    "revision_dtm": { "type": "string", "format": "date-time" },
                    "forecast_cutoff_date": { "type": "string", "format": "date" },
                    "policy_round": { "type": "string" },
                    "policy_round_code": { "type": "string" },
                    "policy_round_end_dtm": { "type": "string", "format": "date-time" }
                  }
                },
                "observations": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "dt": { "type": "string", "format": "date" },
                      "value": { "type": "number" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "SeriesPolicyRounds": { 
        "type": "object",
        "x-apim-schema-name": "Series/Policy rounds",
        "properties": {
          "data": {
            "type": "array",
            "items": { "type": "string" }
          }
        }
      }
    }
  }
}
